<%- include('layout/header', {user: user}); %>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-8">
            <h2>Mon fil d'actualité</h2>
        </div>
        <div class="col-3">
        </div>
    </div>
    <br>
    <hr><br>
        <% publications.forEach(function(publication){ %>
            <div class="card mb-5">
                <div class="card-header">
                    <p class="card-text">Auteur : <b class="ml-5"><%= publication.author %></b></p>
                </div>
                <% if (publication.type == "image"){ %>
                    <img class="card-img-top" src=<%= "images/publications/" + publication.content %> alt="Card image cap">
                <% } else if (publication.type == "video"){ %>
                    <video id="my-video" class="video-js" controls preload="auto" style="width:100%; height: 600px" poster="images/play-button.png" data-setup="{}">
                        <source src=<%= "images/publications/" + publication.content %> type="video/mp4" />
                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a
                            web browser that
                            <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>
                <% } else if (publication.type == "music"){ %>
                    <audio
                    controls
                    style="width: 90%;margin:20px 5% 0 5%;"
                    src=<%= "images/publications/" + publication.content %>>
                        Your browser does not support the
                        <code>audio</code> element.
                    </audio>
                <% } %>
                <div class="card-body">
                    <p class="card-text ml-3"><%= publication.description %></p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <% if (publication.liked == true) { %>
                                <div class="col-2">
                                    <button id="like" class="btn btn-sm btn-outline-danger" onclick=<%= "dislike(\"" + publication._id + "\")" %>>Retirer like</button>
                                </div>
                            <% } else { %>
                                <div class="col-2">
                                    <button id="like" class="btn btn-sm btn-outline-success" onclick=<%= "like(\"" + publication._id + "\")" %>>Liker</button>
                                </div>
                                <% } %>
                            <div class="col-7">
                                <p class="card-text ml-3">Nombre de likes : <b class="ml-5" id="nbLikes"><%= publication.likes %></b></p>
                            </div>
                            <div class="col-3">
                                <p class="card-text ml-3">Nombre de vues : <b class="ml-5"><%= publication.views %></b></p>
                            </div>
                        </div>
                    </div>
                </div>
        <% }); %>
    <script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
    <script src='/javascripts/fil.js'></script>
    <%- include('layout/footer', {user: user}); %>